@using Jobs.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject ApplicationDbContext context

@if (SignInManager.IsSignedIn(User))
{


    var userID = UserManager.GetUserId(User);
    var currentUser = context.Users.Where(a => a.Id == userID).SingleOrDefault();
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
                <strong>مرحبا بك يا: @User.Identity.Name</strong>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="navbar-user">
                        <div class="row">
                            <div class="col-lg-4">
                                <p class="text-center">
                                    <span class="glyphicon glyphicon-user img-size"></span>
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <p class="text-right">
                                    <strong>
                                        @User.Identity.Name
                                    </strong>
                                </p>
                                @if (User.IsInRole("ناشر"))
                                {
                                    <a asp-controller="ApplyForJobs" asp-action="GetJobsByPublisher" class="btn btn-success">الوظائف التي قمت بنشرها</a>
                                    <a asp-controller="Jobs" asp-action="Create" class="btn btn-success">نشر وظيفة جديدة</a>
                                }
                                else
                                {
                                    <a asp-controller="ApplyForJobs" asp-action="GetJobsByUser" class="btn btn-success btn-block">الوظائف التي تقدمت إليها</a>
                                }
                                <a asp-controller="EditProfile" asp-action="EditProfile" class="btn btn-primary btn-block">تعديل الحساب</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li>
                    <div>
                        <div class="row">
                            <div class="col-lg-12">
                                <form class="btn btn-danger btn-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button type="submit" class="btn btn-danger btn-block">تسجيل الخروج</button>
                                </form>
                                <p>
                                    @*<a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" class="btn btn-danger btn-block">تسجيل الخروج</a>*@
                                @*<a asp-area="Identity" asp-page="/Account/LogOut" class="btn btn-danger btn-block">تسجيل الخروج</a>*@
                                    @*<a href="javascript:document.getElementById('logoff').submit()" class="btn btn-danger btn-block">تسجيل الخروج</a>*@
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
}








@*<li>
    @Html.ActionLink("مرحبا بك يا: "+User.Identity.GetUserName(),"Index","Manage")
    </li>
    <li>
    <a href="javascript:document.getElementById('logoff').submit()">تسجيل الخروج</a>
    </li>*@

@*<*ul class="navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
                <strong>مرحبا بك يا @currentUser.UserName</strong>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="text-center">
                                <span class="glyphicon glyphicon-user"></span>
                            </p>
                        </div>
                        <div class="col-lg-8">
                            <p class="text-right">
                                <strong>
                                    @User.Identity.Name
                                </strong>
                            </p>
                            @if (User.IsInRole(""))
                            {

                            }
                        </div>

                    </div>
                </li>
            </ul>
        </li>
        <li class="nav-item">
    <a style="margin: 8px 341px 4px -248px" class="nav-link text-dark loginP" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">مرحبا @currentUser?.UserName</a>
    </li>
    <li class="nav-item">
    <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <button type="submit" style="margin: 10px 265px 4px -335px" class="nav-link btn btn-link text-dark signupP">Logout</button>
    </form>
    </li>
    </ul>*@
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="Identity" asp-page="/Account/Login" class="loginP">تسجيل الدخول</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Register" class="signupP">اشتراك</a>
        </li>
    </ul>
}
