@model IEnumerable<Jobs.Models.ApplytForJob>

@{
    ViewData["Title"] = "GetJobsByUser";
}

<h1>وظائف تم التقدم إليها</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.job.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            
            <td>
                <a asp-action="تعديل" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="تفاصيل" asp-route-id="@item.Id">Details</a> |
                <a asp-action="حذف" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
